.chat-client, .chat-client * {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
.chat-client ul, .chat-client li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.chat-client button {
  background: transparent;
  border: none;
}
.chat-popup {
  width: 250px;
  height: 300px;
  background: transparent;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  position: fixed;
  bottom: 0;
  right: 250px;
  overflow: hidden;
}
.chat-popup.minimized {
  height: 25px;
}
.chat-popup header {
  height: 25px;
  background: #d0d0d0;
  color: #fff;
  padding: 5px 7px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  border-top: 1px solid #ccc;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, .5);
  cursor: pointer;
  transition: background 0.075s ease-out;
}
.chat-popup header:hover {
  background: #ccc;
}
.chat-popup header.active {
  background: rgb(0, 188, 212);
  border-top: 1px solid transparent;
}
.chat-popup header.active:hover {
  background: rgb(0, 188, 212);
}
.chat-popup header:hover .chat-popup--close {
  opacity: 0.7;
}
.chat-popup header .chat-popup--close {
  float: right;
  height: 14px;
  width: 14px;
  background: url("close.svg") no-repeat;
  background-size: 10px 10px;
  background-position: center;
  opacity: 0;
  transition: opacity 0.075s ease-out;
}
.chat-popup header .chat-popup--close:hover {
  opacity: 1;
}
.chat-status {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0 5px 0 0;
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
}
.chat-status.online {
  background: #37da30;
  border: none;
}
.chat-popup form {
  height: 41px;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px;
  border-top: 1px solid #d0d0d0;
  background: #fff;
}
.chat-popup form input[type='text'] {
  width: 185px;
  border: 0;
  outline: 0;
  font-size: 13px;
  background: transparent;
}
.chat-popup form button[type='submit'] {
  float: right;
  border: 0;
  color: rgb(0, 188, 212);
  font-weight: 700;
  background: transparent;
  cursor: pointer;
  font-size: 13px;
}
.chat-popup form button[type='submit']:hover {
  color: rgb(0, 188, 212);
}
.chat-popup form button[type='submit']:disabled {
  color: #ccc;
}
.chat-popup--placeholder {
  font-size: 13px;
  color: #ccc;
  float: left;
  position: absolute;
  left: 12px;
  pointer-events: none;
}
.chat-popup--messages {
  height: 235px;
  background: #fff;
  overflow-y: scroll;
	overflow: auto;
}
.chat-popup--messages ul {
  margin: 8px 0;
  padding: 0;
}
.chat-popup--messages li {
  list-style-type: none;
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  word-wrap: break-word;
}
.chat-popup--messages li.sent {
  text-align: right;
}
.chat-popup--messages li.sent .chat-popup--message {
  display: inline-block;
  min-height: 25px;
  max-width: 200px;
  background: #eee;
  color: #333;
  border-radius: 15px;
  font-size: 13px;
  padding: 7px 12px;
}
.chat-popup--messages li.received .chat-popup--message {
  display: inline-block;
  min-height: 25px;
  max-width: 200px;
  background: rgb(0, 188, 212);
  color: #fff;
  border-radius: 15px;
  font-size: 13px;
  padding: 7px 12px;
}
.chat-sidebar {
  position: fixed;
  right: 10px;
  bottom: 30px;
  width: 225px;
  height: 60%;
  background: #f5f5f5;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}
.chat-sidebar li button {
  width: 100%;
  text-align: left;
  font-size: 13px;
  padding: 15px;
}
.chat-sidebar li button:hover, .chat-sidebar li button:active, .chat-sidebar li button:focus {
  background: #f0f0f0;
  cursor: pointer;
  outline: 0;
}
.chat-sidebar .chat-status {
  float: right;
  margin: 5px;
}

.chat-sidebar-header-name {
  color: white;
  font-weight: 700;
  margin-left: 10px;
  display: inline;
  vertical-align: middle;
  font-size: 12px;
}

.chat-sidebar header {
  background-color: rgb(0, 188, 212) !important;
  width: 100%;
  height: 30px;
	outline: 0;
  color: #fff;
  padding: 5px 7px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  border-top: 1px solid #ccc;
  box-shadow: inset 0 0 1px rgba(255, 255, 255, .5);
  cursor: pointer;
  transition: background 0.075s ease-out;
}

.chat-sidebar header:active, .chat-sidebar header:hover, .chat-sidebar header:focus {
	/*background-color: fade(rgb(0, 188, 212), 0.12);*/
	background-color: black;
	cursor: pointer; 
	outline: 0;

}

.chat-sidebar-list {
  overflow-y: scroll;
}
